<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/nav.css">

<div class="login-page">
<div class="form">
<h2>Welcome! You have signed up successfully!</h1>
<p class="message">
<a href="/">Back to home page</a>
&nbsp;&nbsp;&nbsp;
<a href="/logout">Log out</a>
</p>
</div>
</div>
