<!DOCTYPE html>
<html>
  <head>
    <title>Neo Smart IoT</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/nav.css">
  </head>

  <body>

    <%- include partials/navbar.ejs %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
